<article class="listing">
  <!-- <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
  <img src="{{lit.image}}" alt="">
  <small>View Larger</small>
 </a> -->
 <h3>{{lit.title}}</h3>
 <div class="detail owner">
   <span>Journal:</span> {{lit.journal}}
 </div>
 <div class="detail type">
   <span>Source:</span> {{lit.source}}
 </div>
</article>
